Source: ros-indigo-youbot-gazebo-control
Section: misc
Priority: extra
Maintainer: Walter Nowak <nowak@locomotec.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://github.com/mas-group/youbot_simulation
Standards-Version: 3.9.2

Package: ros-indigo-youbot-gazebo-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-controller-manager
Description: Controller
